{% extends "myapp/base.html" %} {% block body %}
<div class="text-center font-bold text-2xl my-4">
  <h1>SignUp</h1>
  <form
    method="post"
    class="shadow-lg p-10 space-y-6 rounded-lg bg-white w-96 mx-auto"
  >
    {% csrf_token %}
    <div class="text-red-500 mb-4">
      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
      {% endfor %} {% endif %}
    </div>

    {% for field in form %}
    <div class="mb-4">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="border rounded p-2">{{ field }}</div>
    </div>
    {% endfor %}
    <button class="bg-blue-500 text-white px-4 py-2 w-full" type="submit">
      Register
    </button>
  </form>
  {% endblock %}
</div>
