<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-blue-600 p-4 text-white">
      <div class="flex justify-between px-2 py-4">
        <a href="{% url 'profile' %}">Welcome {{user.username}} !</a>
        <div class="space-x-6">
          <a href="{% url 'myapp:index' %}">Home</a>
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% if messages %}
    <div
      class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
      role="alert"
    >
      {% for message in messages %}
      <span class="block sm:inline">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %} {% block body %} {% endblock %}
  </body>
</html>
